
    
    
    <mat-spinner *ngIf="isSpinning"></mat-spinner>
    <div *ngIf="isVerified&&isDataPresent">
    <mat-grid-list cols="6" rowHeight="50px" *ngFor="let details of bookingDetails;index as i">
        <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        [style.background]="'orange'" *ngIf="i==0">
        Traveller
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        [style.background]="'orange'" *ngIf="i==0">
        Check In Date
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        [style.background]="'orange'" *ngIf="i==0">
        Check Out date
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        [style.background]="'orange'" *ngIf="i==0">
        No Of visitors
    </mat-grid-tile>

    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        [style.background]="'orange'" *ngIf="i==0">
        Email
    </mat-grid-tile>
    <mat-grid-tile
        [colspan]="1"
        [rowspan]="1"
        [style.background]="'orange'" *ngIf="i==0">
        Request
    </mat-grid-tile>
    


        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
            [style.background]="'orange'">
            {{details.travellerName}}
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
            [style.background]="'orange'">
            {{details.checkInDate}}
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
            [style.background]="'orange'">
            {{details.checkOutDate}}
        </mat-grid-tile>
      
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
            [style.background]="'orange'">
            {{details.noofguests}}
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
            [style.background]="'orange'">
            {{details.email}}
        </mat-grid-tile>
        <mat-grid-tile
            [colspan]="1"
            [rowspan]="1"
            [style.background]="'orange'">
            <button mat-button style="color:rgba(69, 252, 14, 0.959);" (click)="sendRequestMail(i)">Send Request+</button>
        </mat-grid-tile>

      </mat-grid-list>
      </div>
