


<div class="containeer" align="center">
    <mat-card>
<form class="example-form">
    <mat-form-field class="example-full-width" [formGroup]="userForm">
      <input matInput placeholder="Agency Name" formControlName="name">
      <mat-hint></mat-hint>
      <mat-error>
        Please enter a valid Agency Name
      </mat-error>
    </mat-form-field>

    <mat-form-field class="example-full-width" [formGroup]="userForm">
        <textarea matInput placeholder="Address" formControlName="address"></textarea>
      <mat-hint></mat-hint>
      <mat-error>
          Please enter a valid addresss
        </mat-error>
    </mat-form-field>
    
    <mat-form-field class="example-half-width" [formGroup]="userForm">
        <mat-select placeholder="State" formControlName="state">
            <mat-option value={{state.state}} (click)="getCityList(i)" *ngFor="let state of CityStates;index as i">{{state.state}}</mat-option>
          </mat-select>
        <mat-hint></mat-hint>
        <mat-error>
            Please select a state
          </mat-error>
      </mat-form-field>
      
      <mat-form-field class="example-half-width" [formGroup]="userForm">
          <mat-select placeholder="City" formControlName="city">
              <mat-option value={{cities}} *ngFor="let cities of cities">{{cities}}</mat-option>
            </mat-select>
          <mat-hint></mat-hint>
          <mat-error>
              Please select a city
           </mat-error>
        </mat-form-field>

        <mat-form-field class="example-second-half-width" [formGroup]="userForm">
            <input matInput type="number" min="1" placeholder="Number of Cars" formControlName="vehicles">
            <mat-hint></mat-hint>
            <mat-error>
                Select atleast one
              </mat-error>
          </mat-form-field>

          <mat-form-field class="example-second-half-width" [formGroup]="userForm">
            <input matInput type="number" min="1" placeholder="Max Capacity" formControlName="maxTraveler">
            <mat-hint></mat-hint>
            <mat-error>
                Select atleast one
              </mat-error>
          </mat-form-field>

          <mat-form-field class="example-second-half-width" [formGroup]="userForm">
              <input matInput placeholder="Cost/Km/Head(Rs)" formControlName="cost">
              <mat-hint></mat-hint>
              <mat-error>
                  Please enter the price
                </mat-error>
            </mat-form-field>
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-2">
                    <a routerLink="/touroperator/tourfront"><button type="submit" [disabled]="!userForm.valid" (click)="addPackage()" class="btn btn-success">Confirm</button></a>
          </div>
            <div class="col-sm-1"></div> 
            <div class="col-sm-2"><input class="btn btn-primary" type="reset" value="Reset">
          </div>
          </div>

  </form>
</mat-card>
</div>
<router-outlet></router-outlet>
    <!-- max num of people that can be taken to tour    -->
       
       
       
       
       
       
       
       
       
       
       <!-- <form [formGroup]="userForm" >
          <div class="form-group">
              <input (change)="func()" matInput placeholder="Input" class="form-control" formControlName="name">
            </div>
            {{userForm.value.name}}
          </form> -->




