.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
    padding:20px;
  }
  .example-half-width {
    width:49%;
    padding:20px;
  }
  .example-second-half-width
  {
    width:30%;
  }
  /* mat-form-field
  {
    padding:20px;
  } */
  mat-card
  {
    min-width: 200px;
    max-width: 600px;
    transform: scale(1);
  }
  