<div class="container">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
<a routerLink="/touroperator/addtariffplans">

        <div class="card-deck">
            <div class="card">
    
              <img class="card-img-top" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQ7H71YbqvXoSHXRWq4TSfI9iWM33w75aO5HInODiYWZYgSnSt" alt="Card image cap" >
              <span>Add package details</span>
            </div>
            </div>
            
</a>
</div>
<br>
<div class="col-sm-5">
<a routerLink="/touroperator/viewbookings">

    <div class="card-deck">
            <div class="card">
    
              <img class="card-img-top" src="https://cdn3.iconfinder.com/data/icons/toolbar-signs-5/512/explore_audience_explorer_internet_folder-512.png" alt="Card image cap" >
              <span>View Bookings</span>
            </div>
            </div>   

</a>
</div>
<router-outlet></router-outlet>
</div>
</div>