.card:hover{
 
    transform: scale(1.02);;
}
.card-img-top
{
    height:90%
}
.card
{
    
    border-radius:30px;
    
}
span{
    text-align:center;
    text-decoration: none;
    font-size:40px;
}
.row
{
    align-self: center;
     margin-top:70px;
}
a{
    text-decoration: none;
}